<body>
  

<div class="well">


    <br>      
<mat-chip-list>
    
    <mat-chip color="primary" [selected]="true" style="background-color: #5D6D7E" [routerLink]="[ '/mihogar/empleador' ]" selected>Modo Empleador</mat-chip>
    
  </mat-chip-list>
  <br> 
<img class="responsive" src="../../../../../assets/img/portada.jpg" alt="">
<br>
<br><br>



<div class="container-fluid">
<form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Trabajo que desea buscar" value="">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Modalidad" value="">
      </mat-form-field>

    
      <mat-form-field class="example-full-width">
          <input matInput placeholder="Ciudad" value="">
        </mat-form-field>

  
    <mat-chip-list>
    
        <mat-chip color="primary" [selected]="true" style="background-color: #6EE3E7  " [routerLink]="[]" selected>Modo Empleador</mat-chip>
        
      </mat-chip-list>


  </form>
</div>
  
</div>
</body>